@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

@layer utilities {
  /* Font sizes */
  .text-14 {
    @apply text-[14px] leading-[20px];
  }
  .text-16 {
    @apply text-[16px] leading-[24px];
  }
  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  /* Authentication */
  .form-item {
    @apply flex flex-col gap-1.5;
  }
  .input-class {
    @apply text-16 placeholder:text-16 rounded-[8px] border-gray-300 text-gray-900 placeholder:text-gray-300;
  }
  .form-message {
    @apply text-12 text-red-500;
  }
  .form-btn {
    @apply text-16 rounded-[8px] border border-[#01fe90] font-semibold text-white bg-panel-gradient shadow-form;
  }
  .auth-form {
    @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
  }
  .form-link {
    @apply text-14 cursor-pointer font-medium text-[#009595];
  }

  /* Sidebar */
  .sidebar {
    @apply sticky right-0 top-0 flex h-screen w-fit flex-col  justify-between border-r border-gray-200 bg-white pt-8 text-white max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px];
  }
  .sidebar-link {
    @apply flex gap-3 items-center py-1 md:p-3 2xl:p-4 rounded-[8px] justify-center xl:justify-start;
  }
  .sidebar-label {
    @apply text-16 font-semibold text-black text-lg max-xl:hidden;
  }
  .sidebar-layout {
    @apply flex h-16 items-center justify-between p-5 shadow-sidebar sm:p-8 md:hidden;
  }
  .mobilenav-sheet {
    @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-[8px] w-full max-w-60;
  }
}
